.book-detail{
    min-width: 500px;
    max-width: 1000px;
    min-height: 300px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: rgba(128, 0, 128, 0.169);
    min-width: 700px;
    text-align: left;
    padding: 3em;
    font-weight: 400;
}

.book-detail-loading{
    min-width: 800px;
    max-width: 1000px;
    min-height: 300px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: rgba(128, 0, 128, 0.169);
    min-width: 700px;
    text-align: center;
    padding: 3em;
    align-items: center;
    font-weight: 700;
}